<div class="root-background">
  <h1 class="mainTitle">{{'appName' | translate}}</h1>
  <div class="root-style"></div>
  <div class="switch-button">
    <button (click)="useLanguage('en')">en</button>
    <button (click)="useLanguage('ru')">ru</button>
  </div>

  <nav>
    <a routerLink="/students" routerLinkActive="active">{{'students' | translate}}</a>
    <a routerLink="/subjects" routerLinkActive="active">{{'subjects' | translate}}</a>
    <a routerLink="/statistics" routerLinkActive="active">{{'statistics' | translate}}</a>
    <a routerLink="/export" routerLinkActive="active">{{'export' | translate}}</a>
  </nav>
  <router-outlet></router-outlet>
</div>