<div class="background-style">
    <h2>{{'addNewStudent' | translate}}</h2>
    <div class="form-group">
        <label>* {{'firstName' | translate}}</label>
        <input type="string" class="form-control" name="studentName" [(ngModel)]="name" #studentName="ngModel"
            required />
        <div [hidden]="studentName.valid || studentName.untouched" class="alert alert-danger">
            {{'fieldIsRequired' | translate}}
        </div>
    </div>
    <div class="form-group">
        <label>* {{'lastName' | translate}}</label>
        <input type="string" class="form-control" name="studentLastName" [(ngModel)]="lastName"
            #studentLastName="ngModel" required />
        <div [hidden]="studentLastName.valid || studentLastName.untouched" class="alert alert-danger">
            {{'fieldIsRequired'| translate}}
        </div>
    </div>
    <div class="form-group">
        <label>{{'address' | translate}}</label>
        <input type="string" class="form-control" name="address" [(ngModel)]="address" />
    </div>
    <div class="form-group">
        <label>{{'description' | translate}}</label>
        <textarea type="string" class="form-control" name="description" [(ngModel)]="description"></textarea>
    </div>

    <button [disabled]="studentName.invalid || studentLastName.invalid" class="btn btn-default add-button"
        (click)="addStudent(name,lastName,address,description)">{{'add' | translate}}</button>
</div>